<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <header class="navbar">
        <div class="navbar-left">
            <h1>Profile</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/" class="button">Home</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="container">
        <section class="segment">
            <h2>Personal Information</h2>
            <p><strong>Name:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </section>
    </main>
</body>

</html>